<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>KeepAlive</key>
  <true/>
  <key>Label</key>
  <string>homebrew.mxcl.mailhog</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/opt/mailhog/bin/MailHog</string>
    <string>-api-bind-addr</string>
    <string>{{ mailhog_api_bind_addr }}</string>
    <string>-ui-bind-addr</string>
    <string>{{ mailhog_ui_bind_addr }}</string>
    <string>-smtp-bind-addr</string>
    <string>{{ mailhog_smtp_bind_addr }}</string>
    <string>-hostname</string>
    <string>{{ mailhog_hostname }}</string>
    {% if mailhog_outgoing_smtp_servers is defined %}
    <string>-outgoing-smtp</string>
    <string>{{ mailhog_outgoing_smtp_file }}</string>
    {% endif %}
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardErrorPath</key>
  <string>/usr/local/var/log/mailhog.log</string>
  <key>StandardOutPath</key>
  <string>/usr/local/var/log/mailhog.log</string>
</dict>
</plist>
