<?php

// {{ ansible_managed }}

$mariadbHost = '127.0.0.1';
$mariadbPort = '3306';
$mariadbUser = '{{ mariadb_dev_user }}';
$mariadbPassword = '{{ mariadb_dev_password }}';
$mariadbLogPath = '{{ mariadb_log_path }}';