[init]
  defaultBranch = main
[user]
  name = {{ git_user_name }}
  email = {{ git_user_email }}
{% if use_gpg_to_sign_commit %}
  signingkey = {{ git_signingkey }}
{% endif %}
[alias]
{% for key, value in git_aliases.items() %}
  {{ key }} = {{ value }}
{% endfor %}
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  excludesfile = ~/.gitignore_global
  editor = "vim"
  ignorecase = false
  preloadindex = true
[credential]
  helper = cache --timeout 3600
[include]
  path = .gitconfig.local
[commit]
  template = ~/.git_commit_msg.txt
{% if use_gpg_to_sign_commit %}
  gpgsign = true
{% endif %}
[pull]
  rebase = merges
[fetch]
  prune = true
[help]
  autocorrect = 1
[diff]
  compactionHeuristic = true
[pager]
  branch = false
[rebase]
  autoStash = true
{% if use_gpg_to_sign_commit %}
[gpg]
  program = {{ brew_prefix }}/bin/gpg
  format = {{ git_gpg_format }}
{% endif %}
{% if git_sequence_editor|default(false) %}
[sequence]
  editor = {{ git_sequence_editor }}
{% endif %}
