{{ ansible_managed | comment(decoration="; ") }}

[global]
daemonize = no

[www]
listen = 127.0.0.1:{{ php_fpm_port }}
listen.mode = 0666

pm = ondemand
pm.max_children = 35
pm.process_idle_timeout = 10s
pm.max_requests = 500

php_admin_value[memory_limit] = {{ php_fpm_memory_limit }}

; See https://github.com/Homebrew/homebrew-core/issues/137431#issuecomment-1710026379
env['PGGSSENCMODE'] = disable

env[PATH] = /usr/local/bin:/usr/bin:/bin
