{{ ansible_managed | comment(decoration="; ") }}

[blackfire]
;
; Blackfire Agent Configuration File.
;

;
; setting: server-id
; desc   : The Server ID used for API authentication
; default: 
server-id={{ blackfire_server_id }}

;
; setting: server-token
; desc   : The Server Token used for API authentication
; default: 
server-token={{ blackfire_server_token }}

;
; setting: socket
; desc   : Set the socket the agent should read traces from; possible value can be a unix socket or a TCP address: ie: unix:///var/run/blackfire/agent.sock or tcp://127.0.0.1:8307
; default: unix:///usr/local/var/run/blackfire-agent.sock
socket=unix:///usr/local/var/run/blackfire-agent.sock

;
; setting: log-file
; desc   : Set the path of the log file; use stderr to log to stderr
; default: stderr
log-file=stderr

;
; setting: log-level
; desc   : Increase the verbosity of messages: 1 for normal output, 2 and 3 for more verbose outputs and 4 for debug
; default: 1
log-level=1

;
; setting: ca-cert
; desc   : Set the PEM encoded certificates to use
; default: 
ca-cert=

;
; setting: collector
; desc   : Set the URL of Blackfire&#39;s data collector
; default: https://blackfire.io
collector=https://blackfire.io

;
; setting: timeout
; desc   : Set the API connection timeout
; default: 15s
timeout=15s

