#{{ ansible_managed }}

index index.php index.html;

location ~ \.php$ {
    fastcgi_pass   127.0.0.1:9000;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_buffer_size 4k;
    fastcgi_buffers 256 4k;
    fastcgi_max_temp_file_size 0;
    fastcgi_read_timeout {{ nginx_php_max_execution_time }};
    include        fastcgi_params;
}

location / {
    autoindex on;
}