{{ ansible_managed | comment }}

{% for site in nginx_sites %}
server {
    {% if not site.redirect_to_https|default(false) %}listen {{ site.http_port|default(nginx_http_port) }};{% endif %}
    {% if site.https|default(true) %}listen {{ site.https_port|default(nginx_https_port) }} ssl {% if site.http2|default(nginx_http2) %}http2{% endif %};{% endif %}
    server_name {{ site.server_name }};
    root {{ site.root | expanduser }};

    {% if site.https|default(true) %}
    ssl_certificate      {{ openssl_certs_path }}/{{ site.name }}.pem;
    ssl_certificate_key  {{ openssl_private_path }}/{{ site.name }}.pem;
    {% endif %}

    access_log {{ nginx_log_path }}/{{ site.name }}.access.log main;
    error_log {{ nginx_log_path }}/{{ site.name }}.error.log;

    include {{ nginx_path }}/conf.d/{{ site.type }};

{% if site.cors|default(false) %}
    include {{ nginx_path }}/conf.d/cors;
{% endif %}
}

{% if site.redirect_to_https|default(false) %}
server {
       listen         {{ nginx_http_port }};
       server_name    {{ site.server_name }};
       return         301 https://$server_name$request_uri;
}
{% endif %}

{% endfor %}
