<?php

{{ ansible_managed | comment('c') }}

$sites = [
{% for site in nginx_system_sites + nginx_sites %}
    '{{ site.name }}' => [
        'name' => '{{ site.name }}',
        'url' => '{{ 'https' if site.https|default(true) else 'http' }}://{{ site.server_name }}:{{ site.https_port|default(nginx_https_port) if site.https|default(true) else site.http_port|default(nginx_http_port) }}',
        'path' => '{{ site.root | default('-') }}',
        'php_version' => '{% if site.custom_config is defined %}{% else %}{{ site.php_version|default(php_default_version) }}{% endif %}',
    ],
{% endfor %}
];

$webServerLogPath = '{{ nginx_log_path }}';
