{{ ansible_managed | comment }}

export TERM="xterm-256color"
export ZSH=$HOME/.oh-my-zsh

ZSH_THEME="{{ zsh_theme|mandatory }}"
DISABLE_UPDATE_PROMPT=true
{% if zsh_autosuggestions|bool %}ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=030'{% endif %}

plugins=(git history-substring-search sudo composer symfony brew httpie extract {% if zsh_syntax_highlighting|bool %}zsh-syntax-highlighting{% endif %} {% if zsh_autosuggestions|bool %}zsh-autosuggestions{% endif %})
source $ZSH/oh-my-zsh.sh

DEFAULT_USER="{{ lookup('env','USER') }}"

export PATH=$HOME/bin:/usr/local/bin:/usr/local/sbin:$PATH

# PHP
[ -e "${HOME}/.load_php" ] && source "${HOME}/.load_php"

# PostgreSQL
[ -e "${HOME}/.load_postgresql" ] && source "${HOME}/.load_postgresql"

# Composer binaries
export PATH=~/.composer/vendor/bin:./vendor/bin:$PATH

# node
[ -e "${HOME}/.load_node" ] && source "${HOME}/.load_node"

# RUBY
export PATH="/usr/local/opt/ruby/bin:$PATH"

# Python
export PATH="/usr/local/opt/python/libexec/bin:$PATH"

[ -e "${HOME}/.zsh_aliases" ] && source "${HOME}/.zsh_aliases"

# Used in makefile
[ -e "${HOME}/.dev_config_env" ] && source "${HOME}/.dev_config_env"

# gpg and password prompt
export GPG_TTY=$(tty)

export REQUESTS_CA_BUNDLE="/usr/local/etc/openssl/cacert.pem"

# need by vips
export PKG_CONFIG_PATH="${PKG_CONFIG_PATH}:/usr/local/opt/libffi/lib/pkgconfig"

source ~/.zshrc.local
